a{
  color: #800000;
}
/*Navbar styling*/

.navbar {
  background-color: #800000;
  margin-bottom: 20px;
}
.navbar-brand,.navbar-brand:hover{
  color:#FFFFFF;
}

/* /Icon styling/ */
.fa-home,.fa-shopping-cart, .fa-user-circle,.fa-phone, .fa-fax,.fa-envelope{
  color: #FFFFFF;
}

.fa-home:hover,.fa-shopping-cart:hover, .fa-user-circle:hover,.fa-phone:hover, .fa-fax:hover,.fa-envelope:hover{
  color:#FFC000;
}




/* /Content styling/ */
.maincontent{
    padding-top: 70px ;
    padding-bottom: 30px;
    text-align: center;
  }

.table {
  text-align: center;
}

td{
  vertical-align: middle;
  font-size: 16px;
  font-weight:500;
}
  th{
  vertical-align: middle;
  font-size: 18px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(5);
}

.col2{
  text-align: left;
}
.col34 {
  text-align: right;
}

.footer {
 right: 0;
 left:0;
 padding: 5px;
 background-color: #800000;
 text-align: center;
 color: #FFF;
 clear: both;
 line-height: 1.19048;
 letter-spacing: .011em;
 font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 position:fixed;
 bottom:0;
 width:100%;
 height:4vmin;
 font-size: 2vmin;
 flex-shrink: 0;

}