.tb {
    margin:10px 10px;
    position:relative;
}
.maincontent{
  padding-top: 60px;
  padding-bottom: 50px;
}
/* Table and table images Styling */
table{
  width: 100%;
  text-align: center;
}
.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(5);
}
.col2{
  text-align: left;
}
.col34 {
  text-align: right;
}

input[type="checkbox"] {
    width:100%;
    height:23px;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    z-index:10;
    cursor:pointer;
}
input[type="checkbox"]:hover ~ span{
    background:#13a1c5;
}
.tb span {
    position:relative;
    height:33px;
    line-height:23px;
    display:inline-block;
    background:#13a1c5;
    color:white;
    transition:all .3s ease;
    padding:5px 10px;
    width:100%;
}
.tb span+span, .collapsible {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span+span{
    display:inline-block;
}
.tb input[type="checkbox"]:checked ~ .collapsible {
    display:table;
}

/*Navbar styling*/

.navbar {
  background-color: #800000;
  margin-bottom: 20px;
}
.navbar-brand,.navbar-brand:hover{
  color:#FFFFFF;
}

/*Icon styling*/
.fa-home,.fa-shopping-cart, .fa-user-circle,.fa-phone, .fa-fax,.fa-envelope{
  color: #FFFFFF;
}

.fa-home:hover,.fa-shopping-cart:hover, .fa-user-circle:hover,.fa-phone:hover, .fa-fax:hover,.fa-envelope:hover{
  color:#FFC000;
}
/* Footer Styling */
.footer {
 right: 0;
 left:0;
 padding: 5px;
 background-color: #800000;
 text-align: center;
 color: #FFF;
 clear: both;
 line-height: 1.19048;
 letter-spacing: .011em;
 font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 position:fixed;
 bottom:0;
 width:100%;
 height:4vmin;
 font-size: 2vmin;
 flex-shrink: 0;

}
